<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omarfaruk.mymessmeal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.omarfaruk.mymessmeal.AboutActivity"></activity>
        <activity android:name="com.omarfaruk.mymessmeal.AddCostActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.CostActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.DebitEditActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.DebitMoneyActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.EditMyMealActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.HomePageActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.TotalMealActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.SignInActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.SignUpActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.MainActivity" />
        <activity android:name="com.omarfaruk.mymessmeal.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>